.btn-success {
    background-color: rgb(77, 201, 77);
    font-weight: 500;
}

nav>div>ul>li {
    font-weight: 500;
}

input {
    border: none;
    width: 70%;
}

input :focus {
    outline: none;
}

svg {
    cursor: pointer;
}

.jumbotron {
    background-image: url('../images/flowerbg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
    text-align: justify;


}

.jumbotron h1 {
    font-size: calc(48px + 6 * ((100vw - 320px) / 680));

}

.offerposter {
    border-left: groove;
    border-color: #a52a2a;
}

.rounded-pill {
    color: #ffffff;
    background-color: rgb(255, 0, 0);
    border: none;
}

.border-bottom {
    border: none;
    border-bottom: solid;
    border-color: rgb(255, 0, 0);
}